// extends layout

// block content
//   h1= title
//   p Welcome to #{title}

extends ../node_modules/jade-bootstrap/_bootstrap

head
  title= title
block body
  +navbar("The Colenso Project", "dropdown_menu")
    +nav_item("/", "active") Home
    +nav_item("/browse") Browse
    +nav_item("/results") Search
  .container
    h1 #{title}
      .container
    p| Welcome to #{title}. Welcome to the Colenso Project, here you can 
     | access all of the letters that are stored in our archives.